.card-result-container {
  padding: 40px;
  height: 334px;
  background: #f5f5f5;
  border-radius: 8px;
  margin-top: 54px;
}

.avatar-container img {
  width: 247px;
  height: 247px;
}

.card-info-container {
  height: 247px;
  width: 800px;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  background: #ffffff;
  margin-left: 30px;
  padding-left: 14px;
  padding-top: 8px;
}

.card-info-container h2 {
  color: #1890ff;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 15px;
}
